<template>
  <div class="newGameBox">
    <h1 v-once>{{ title }}</h1>

    <div class="buttonBox">
      <button class="buttonStyle block">Start Game</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "newGameScreen",
  props: {
    title: String,
  },
};
</script>

<style>
.newGameBox {
  align-items: center;
  justify-content: center;

  padding: 0.5% 0;
  background-color: aqua;
}

.buttonStyle {
  width: 40%;
  height: 100px;

  margin: 10px auto;
  border-radius: 25px;
}
</style>


