<template>
  <div class="QuestionScreen">
    <h1>Question {{ selectedUser }} of {{ users.length }}</h1>
    <p>{{users[selectedUser].category}}</p>

    <div class="buttonBox">
      <p>{{users[selectedUser].question }}</p>

      <p>Select True, or False</p>
      
      <button v-on:click="nextUser" class="buttonStyle block">True</button>

      <button v-on:click="nextUser" class="buttonStyle block">False</button>

    <p> {{ selectedUser }} </p>      
    
    </div>
  </div>
</template>

<script>

export default {
  name: "QuestionScreen",

  props: {
    
  },

  data: function () {
  return {
    users: [],
    selectedUser: 0
  }

}, 
  methods: {
    
    getQuestions: function() {
      return fetch("https://opentdb.com/api.php?amount=10&category=31&difficulty=easy&type=boolean").then((res) => {
        if(res.ok) {
        return res.json();
      } else {
        throw "Could not get API";
      }
    }).then((res) => {
      return res.results
    });
      }},


    nextUser: function () {
      this.selectedUser++;
    },


async created(){
      try{
        this.users = await this.getQuestions();
      } catch ( err ) {
        console.log(err.message);
      }},
    }
  



</script>