<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" />
   <NewGameScreen title="THIS GAME" />
    <QuestionScreen />
  </div>
</template>

<script>
import NewGameScreen from "./components/NewGameScreen";
import QuestionScreen from "./components/QuestionScreen";

export default {
  name: "App",
  components: {
    NewGameScreen,
    QuestionScreen,
  },
};
</script>

<style>
@import "./assets/styles/main.css";
</style>
